.card{
    padding: 50px 0;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    gap: 30px;
}

.card_img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card_item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc(100% / 3.2);
    color: #fff;
}

.card_author{
    gap: 20px;
    align-items: center;
}

.card_date{
    padding-left: 20px;
}

.card_name{
    opacity: .6;
}

.card_detail_btn {
    width: fit-content;
}

.card_figure{
    flex: 1;
}